<app-header></app-header>

<div class="login">
    <div class="username-password">
        <span class="ui-float-label username">
            <input id="username" type="text" size="30"> 
            <label for="float-input">Username</label>
        </span>
        <span class="ui-float-label password">
            <input id="password" type="password" size="30"> 
            <label for="float-input">Password</label>
        </span>
    </div>

    <div class="login-button">
        <button type="button" (click)="login()">Login</button>
    </div>
    
</div>