<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Jukebox</h2>
  <p>
    Jukebox is meant to be a tool that allows you to create playlists that source 
    from different services (e.g. Spotify, Soundcloud, YouTube). Playlists can be 
    made collaboratively, as well as shared with others. All users of a playlist 
    can add and remove any song. In addition, users can vote a song in the playlist 
    up or down the song queue. The songs in each playlist will be ordered by votes 
    from greatest to least with earliest date added to the queue being the tiebreaker. 
    Each user in the playlist gets one vote for each song in the playlists, and each 
    song can only be voted up or down once. Hope you like it!
  </p>
</div>