<header>
    <h1>Jukebox</h1>

    <div>
        <nav>
            <!-- eventually want to set up an ngswitch case so that it shows log in when you arent log in and all other tabs when logged in-->
            <a routerLink='/login'>Log In</a>
            <a routerLink='/profile'>Profile</a>
            <a routerLink='/notifications'>Notifications</a>
            <a routerLink='/openJukeboxes'>Open Jukeboxes</a>
            <a routerLink='/savedJukeboxes'>Saved Jukeboxes</a>
        </nav>
    </div>
</header>